* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/pencil.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
    background-position-x: 30%;
}

header {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.game {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    width: 60%;
    margin-bottom: 150px;
    border: 2px solid #E06D10;
    border-radius: 5px;
    padding: 80px;
    text-align: center;
    box-shadow: 5px 10px 18px #888888;
}

.title {
    margin-bottom: 50px;
    font-size: 40px;
}

#gameAlphabet .display-text {
    min-width: 170px;
    min-height: 155px;
    width: fit-content;
    background-color: #FBDBC1;
    border: 1px solid #E06D10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    margin: 0 10px 0 10px;
    padding: 17px 50px;
    background-color: #E06D10;
    border: 1px solid #E06D10;
    color: #ffff;
    outline: none;
    border-radius: 5px;
    font-size: 25px;
    transition: ease-in 200ms;
}

.button:hover {
    cursor: pointer;
    background-color: #FBDBC1;
    color: #E06D10;
    box-shadow: 2px 3px 2px #888888;
}

.display-text #text {
    font-size: 80px;
}

.squareGroup {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.squareGroup .square {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBDBC1;
    border: 1px solid #E06D10;
    margin: 0 7px;
    cursor: pointer;
}

span,
input {
    text-align: center;
    font-size: 60px;
    transition: font-size ease-in-out 200ms;
    outline: none;
}

.square:hover span,
input {
    font-size: 70px;
    font-weight: 600;
}

.alreadyBtn {
    margin-top: 10px;
}

.readybutton {
    width: 90px;
    height: 45px;
    outline: none;
    border: 1px solid #E06D10;
    border-radius: 5px;
    background-color: #E06D10;
    color: #ffff;
    font-size: 35px;
    cursor: pointer;
    margin: 0 12px;
}

.readybutton:active {
    background-color: #FBDBC1;
}

.contentResult {
    height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #DA304C;
    font-size: 27px;
}

.questionShow {
    height: 35px;
    font-size: 26px;
}

.changeColor {
    background-color: #E06D10 !important;
}

.redText {
    color: #DA304C;
    font-size: 26px;
}

.arrangeNumber-question {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    transition: font-size ease-in 200ms;
}

.arrangeNumber-question:hover {
    font-size: 70px;
    font-weight: 600;
}


/* hidden button up down select number in button type number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}


/* ipad lanscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    body {
        background-image: url('./assets/pencilOpacity.jpg');
    }
    section {
        width: 95%;
        padding: 50px 10px;
    }
    .questionShow {
        font-size: 30px;
    }
    input {
        border-radius: 0%;
        box-shadow: none;
    }
    span,
    input,
    button {
        touch-action: manipulation;
    }
}


/* ipad portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body {
        background-image: url('./assets/pencilOpacity.jpg');
    }
    section {
        width: 95%;
        padding: 50px 10px;
    }
    .contentResult {
        font-size: 27px;
    }
    .squareGroup .square {
        width: 120px;
        height: 120px;
        margin: 0 5px;
    }
    .questionShow {
        font-size: 34px;
    }
    input {
        border-radius: 0%;
        box-shadow: none;
    }
    span,
    input,
    button {
        touch-action: manipulation;
    }
}


/* iphone X landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    body {
        background-image: url('./assets/pencilOpacity.jpg');
    }
    header {
        margin-top: 0;
    }
    section {
        width: 95%;
        padding: 40px 10px;
    }
    .title {
        font-size: 33px;
        margin-bottom: 40px;
    }
    .questionShow {
        font-size: 25px;
    }
    .squareGroup .square {
        width: 100px;
        height: 100px;
        margin: 0 8px;
    }
    input {
        border-radius: 0%;
        box-shadow: none;
    }
    span,
    input,
    .arrangeNumber-question {
        font-size: 45px;
    }
    .square:hover span,
    input {
        font-size: 50px;
    }
    .arrangeNumber-question:hover {
        font-size: 50px;
    }
    .button {
        padding: 12px 36px;
        font-size: 20px;
    }
    .display-text #text {
        font-size: 65px;
    }
    .readybutton {
        width: 65px;
        height: 35px;
        font-size: 26px;
        margin: 0 5px;
    }
    span,
    input,
    button {
        touch-action: manipulation;
    }
}


/* Iphone X Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    section {
        width: 100%;
        padding: 40px 0;
    }
    .readybutton {
        width: 65px;
        height: 35px;
        font-size: 26px;
        margin: 0 5px;
    }
    span,
    input,
    button {
        touch-action: manipulation;
    }
}


/* mobile 6/7/8+ landscape  */

@media (max-width: 767.98px) {
    body {
        background-image: url('./assets/pencilOpacity.jpg');
    }
    .title {
        font-size: 33px;
    }
    section {
        width: 100%;
        padding: 40px 5px;
    }
    .questionShow,
    .redText {
        font-size: 28px;
    }
    .contentResult {
        font-size: 25px;
    }
    span,
    input,
    .arrangeNumber-question {
        font-size: 45px;
    }
    .square:hover span,
    input {
        font-size: 50px;
    }
    .arrangeNumber-question:hover {
        font-size: 50px;
    }
    input {
        border-radius: 0%;
        box-shadow: none;
    }
    .squareGroup .square {
        width: 100px;
        height: 100px;
        margin: 0 8px;
    }
    .square:hover span,
    input {
        font-size: 60px;
        font-weight: 600;
    }
    .button {
        padding: 10px 35px;
        font-size: 22px;
    }
    span,
    input,
    button {
        touch-action: manipulation;
    }
}


/* mobile 6/7/8+ portrait  */

@media (max-width: 575.98px) {
    body {
        background-image: url('./assets/pencilOpacity.jpg');
    }
    header {
        display: block;
    }
    section {
        width: 100%;
        padding: 50px 10px;
    }
    .game {
        display: block;
    }
    .title {
        margin-bottom: 30px;
        font-size: 32px;
    }
    .questionShow,
    .redText {
        font-size: 26px;
    }
    .squareGroup .square {
        min-width: 16%;
        height: 65px;
        margin: 0 2px;
    }
    span,
    input {
        font-size: 33px;
    }
    .square:hover span,
    input {
        font-size: 40px;
        font-weight: 600;
    }
    input {
        border-radius: 0%;
        box-shadow: none;
    }
    .contentResult {
        font-size: 20px;
    }
    .button {
        padding: 12px 40px;
        font-size: 20px;
    }
    .arrangeNumber-question {
        font-size: 33px;
    }
    .arrangeNumber-question:hover {
        font-size: 43px;
    }
    span,
    input,
    button {
        touch-action: manipulation;
    }
}